.brands {
  max-width: 281px;
  margin: 0 auto;

  @media screen and (width > 767px) {
    max-width: 617px;
  }

  @media screen and (width > 1439px) {
    max-width: 944px;
  }
}

.brand::after {
  @media screen and (width < 767px) {
    content: "";
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: $brand-color;
  }
}

.brands__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.38;

  @media screen and (width > 767px) {
    font-size: 28px;
    line-height: 1.3;
  }

  @media screen and (width > 1439px) {
    font-size: 44px;
    line-height: 1.1;
  }
}

.brands__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: space-between;

  @media screen and (width > 767px) {
    flex-direction: row;
  }
}
