footer {
  max-width: 320px;
  margin: 0 auto;
  padding: 50px 10px;

  @media screen and (width > 767px) {
    max-width: 768px;
    padding: 50px 30px 30px 30px;
  }

  @media screen and (width > 1439px) {
    max-width: 1440px;
    padding: 80px 175px 40px 175px;
  }
}

.footer__menues {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 70px;

  margin-bottom: 24px;

  @media screen and (width > 767px) {
    gap: 40px;
    margin-bottom: 50px;
  }

  @media screen and (width > 1439px) {
    gap: 60px;
    margin-bottom: 75px;
  }
}

.footer__wrap {
  @media screen and (width > 767px) {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }

  @media screen and (width > 1439px) {
    gap: 75px;
  }
}

.line-decoration {
  width: 100%;
  height: 1px;
  background-color: $footer-line-color;

  margin-bottom: 25px;

  @media screen and (width > 1439px) {
    height: 2px;
    margin-bottom: 40px;
  }
}

.logo__footer {
  @media screen and (width < 768px) {
    margin-bottom: 18px;
  }
}

.footer__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;

  transition: box-shadow $animation-time $animation-function;
  &:hover,
  &:focus {
    box-shadow: $hover-box-shadow;
  }

  @media screen and (width > 1439px) {
    font-size: 19px;
    line-height: 1.15;
  }
}

.navigates__item,
.socials__item {
  margin-bottom: 7px;

  @media screen and (width > 767px) {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  @media screen and (width > 1439px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.resourses__item,
.contacts__item {
  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.copyright {
  font-size: 9px;
  font-weight: 700;
  line-height: 2.1;

  @media screen and (width < 768px) {
    margin-bottom: 14px;

    &--linebreak {
      display: block;
    }
  }

  @media screen and (width > 1436px) {
    font-size: 15px;
    line-height: 1.2;
  }
}

.rights__link {
  font-size: 9px;
  font-weight: 700;
  line-height: 1.22;

  transition: box-shadow $animation-time $animation-function;
  &:hover,
  &:focus {
    box-shadow: $hover-box-shadow;
  }

  @media screen and (width > 1439px) {
    font-size: 15px;
    line-height: 1.2;
  }
}

.rights__item {
  @media screen and (width < 768px) {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.rigths {
  @media screen and (width > 767px) {
    display: flex;
    gap: 30px;
  }
}

.logo-menu-wrap {
  @media screen and (width > 767px) {
    display: flex;

    padding: 0 50px;
  }
}

.footer__rigths {
  @media screen and (width > 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
  }
}
