.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0 22px 0;

  @media screen and (width > 767px) {
    justify-content: flex-end;
    padding: 18px 0 23px 0;
  }

  @media screen and (width > 1439px) {
    padding: 28px 75px 33px 75px;
  }
}
