.hero-buttons {
  display: flex;
  align-items: center;

  @media screen and (width < 768px) {
    justify-content: space-between;
  }

  @media screen and (width > 767px) {
    gap: 30px;
  }

  @media screen and (width > 1439px) {
    gap: 45px;
  }
}

.hero-buttons__link {
  min-width: 143px;
  padding: 12px 15px;
  border: 3px solid $brand-color;
  text-align: center;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.7px;

  &--green {
    background-color: $brand-color;
    color: $light-text-color;
  }

  &--white {
    background-color: $light-text-color;
    color: $brand-color;
  }

  transition: box-shadow $animation-time $animation-function;

  &:hover,
  &:focus {
    box-shadow: $hover-box-shadow;
  }

  @media screen and (width > 767px) {
    min-width: 131px;
  }

  @media screen and (width > 1439px) {
    min-width: 200px;
    font-size: 21px;
    line-height: 1.2;
    letter-spacing: 1.1px;
  }
}
