.logo {
  @media screen and (width > 767px) {
    margin-right: auto;
  }
}

.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &--left {
    justify-content: flex-start;
  }
}

.logo__title {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2;

  @media screen and (width > 1439px) {
    font-size: 35px;
  }
}

.logo__icon {
  width: 25px;
  height: 25px;

  @media screen and (width > 1439px) {
    width: 40px;
    height: 40px;
  }
}
