.reaching {
  max-width: 239px;
  margin: 0 auto;

  @media screen and (width > 767px) {
    max-width: 710px;
  }

  @media screen and (width > 1439px) {
    max-width: 1090px;
  }
}

.reaching__list {
  margin-bottom: 60px;

  @media screen and (width > 767px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
  }

  @media screen and (width > 1439px) {
    margin-bottom: 40px;
    gap: 32px;
  }
}

.member {
  position: relative;
  width: 223px;
  height: 157px;

  @media screen and (width < 767px) {
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  transition: box-shadow $animation-time $animation-function;
  &:hover,
  &:focus {
    box-shadow: $hover-box-shadow;
  }

  @media screen and (width > 1439px) {
    width: 342px;
    height: 239px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient($overlay-gradient);
}

.member__name {
  color: $light-text-color;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.18;

  @media screen and (width > 1439px) {
    font-size: 34px;
  }
}

.member__scince {
  color: $light-text-color;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;

  @media screen and (width > 1439px) {
    font-size: 19px;
  }
}

.member__meta {
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.reaching__title {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: $secondary-font-family;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 900;

  @media screen and (width > 767px) {
    max-width: 590px;
    font-size: 28px;
    line-height: 1.3;
  }

  @media screen and (width > 1439px) {
    max-width: 904px;
    font-size: 44px;
    line-height: 1.1;
  }
}
