.sign-up {
  @media screen and (width > 767px) {
    margin-left: 16px;
  }
  @media screen and (width > 1439px) {
    margin-left: 24px;
  }
}

.sign-up__link {
  color: $light-text-color;
  background-color: $brand-color;
  border: 1px solid $brand-color;
  padding: 5px 12px;
  min-width: 110px;
  text-align: center;
  font-size: 11px;
  font-weight: 800;
  line-height: 1.18;
  letter-spacing: 0.825px;
  transition: box-shadow $animation-time $animation-function;

  &:hover,
  &:focus {
    box-shadow: $hover-box-shadow;
  }

  @media screen and (width > 1439px) {
    min-width: 168px;
    padding: 10px 19px 10px 19px;
    font-size: 17px;
    letter-spacing: 1.275px;
  }
}
