.video__banner {
  margin: 0 auto;
  width: 304px;
  height: 171px;
  text-align: center;

  background-repeat: no-repeat;
  background-size: 304px 171px;
  background-color: linear-gradient($background-gradient);

  background-image: linear-gradient($background-gradient),
    url("../../images/mob/video/video@1x.jpg");

  background-image: linear-gradient($background-gradient),
    -webkit-image-set(url("../../images/mob/video/video@2x.jpg") 2x, url("../../images/mob/video/video@1x.jpg")
          1x);

  background-image: linear-gradient($background-gradient),
    image-set(
      url("../../images/mob/video/video@2x.avif") type("image/avif") 2x,
      url("../../images/mob/video/video@1x.avif") type("image/avif") 1x,
      url("../../images/mob/video/video@2x.webp") type("image/webp") 2x,
      url("../../images/mob/video/video@1x.webp") type("image/webp") 1x,
      url("../../images/mob/video/video@2x.jpg") type("image/jpeg") 2x,
      url("../../images/mob/video/video@1x.jpg") type ("image/jpeg") 1x
    );

  @media screen and (width > 767px) {
    width: 616px;
    height: 347px;
    background-size: 616px 347px;

    background-image: linear-gradient($background-gradient),
      url("../../images/tab/video/video@1x.jpg");

    background-image: linear-gradient($background-gradient),
      -webkit-image-set(url("../../images/tab/video/video@2x.jpg") 2x, url("../../images/tab/video/video@1x.jpg")
            1x);

    background-image: linear-gradient($background-gradient),
      image-set(
        url("../../images/tab/video/video@2x.avif") type("image/avif") 2x,
        url("../../images/tab/video/video@1x.avif") type("image/avif") 1x,
        url("../../images/tab/video/video@2x.webp") type("image/webp") 2x,
        url("../../images/tab/video/video@1x.webp") type("image/webp") 1x,
        url("../../images/tab/video/video@2x.jpg") type("image/jpeg") 2x,
        url("../../images/tab/video/video@1x.jpg") type ("image/jpeg") 1x
      );
  }

  @media screen and (width > 1439px) {
    width: 944px;
    height: 531px;
    background-size: 944px 531px;

    background-image: linear-gradient($background-gradient),
      url("../../images/desk/video/video@1x.jpg");

    background-image: linear-gradient($background-gradient),
      -webkit-image-set(url("../../images/desk/video/video@2x.jpg") 2x, url("../../images/desk/video/video@1x.jpg")
            1x);

    background-image: linear-gradient($background-gradient),
      image-set(
        url("../../images/desk/video/video@2x.avif") type("image/avif") 2x,
        url("../../images/desk/video/video@1x.avif") type("image/avif") 1x,
        url("../../images/desk/video/video@2x.webp") type("image/webp") 2x,
        url("../../images/desk/video/video@1x.webp") type("image/webp") 1x,
        url("../../images/desk/video/video@2x.jpg") type("image/jpeg") 2x,
        url("../../images/desk/video/video@1x.jpg") type ("image/jpeg") 1x
      );
  }
}

.video__title {
  padding-top: 50px;
  margin-bottom: 20px;
  color: $light-text-color;
  font-family: $secondary-font-family;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.32;

  @media screen and (width > 767px) {
    padding-top: 106px;
    margin-bottom: 41px;
    font-size: 38px;
    line-height: 1.34;
  }

  @media screen and (width > 1439px) {
    padding-top: 163px;
    margin-bottom: 61px;
    font-size: 60px;
    line-height: 1.33;
  }
}

.video__link {
  display: inline-block;
  margin: 0 auto;
  min-width: 65px;
  padding: 7px 13px;
  background-color: $light-text-color;
  color: $brand-color;
  text-align: center;
  font-size: 6px;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: 0.3px;

  transition: box-shadow $animation-time $animation-function;

  &:hover,
  &:focus {
    box-shadow: inset $hover-box-shadow;
  }

  @media screen and (width > 767px) {
    min-width: 132px;
    padding: 13px 24px;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.65px;
  }

  @media screen and (width > 1439px) {
    min-width: 200px;
    padding: 20px 32px;
    font-size: 21px;
    line-height: 1.19;
    letter-spacing: 1.05px;
  }
}
