$main-text-color: #000;
$light-text-color: #fff;
$brand-color: #4ba87d;

$main-font-family: "Raleway", sans-serif;
$secondary-font-family: "Playfair Display", sans-serif;

$animation-function: ease-in;
$animation-time: 250ms;
